@import '../../../../assets/styles/main';
@import '../../style.scss';

.ProductTable {
	margin-top: $spacing;

	.TableProducts {
		border-radius: 10px;
		min-height: 426px;
		border: 1px solid $color-gray;
	}

	.original-price {
		@include font(12px, 400);
		margin-top: 5px;
		display: block;
		text-decoration: line-through;
	}
}

.EditProductModal {
	.label {
		@include font(20px, bold);
	}

	.value {
		@include font(20px);
	}

	.form {
		.quantity-label {
			font-size: 20px;

			&.space-top {
				margin-top: 25px;
			}

			.change-value {
				font-size: 30px;
			}
		}

		.quantity-input {
			@include font(75px, bold);
			text-align: center;
		}

		.custom-footer {
			display: flex;
			align-items: center !important;
			justify-content: center !important;

			.btn-cancel {
				margin-right: 20px;
			}
		}
	}
}

.DiscountModal {
	.label {
		@include font(20px, bold);
	}

	.value {
		@include font(20px);
	}

	.other-button {
		&.spacing {
			margin-bottom: 15px;
		}
	}

	.form {
		.input-field {
			margin-bottom: 20px;

			.input-label {
				font-size: 20px;
			}

			.input-control {
				font-size: 18px;
			}
		}

		button {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
}
