@import '../../../../assets/styles/main';

.WeightDrawer {
	height: 100%;

	&_container {
		height: inherit;
		display: flex;
		flex-direction: column;
	}

	.ant-spin-container {
		height: inherit;
	}
}

.WeightProductDetails {
	&_wrapper {
		width: 100%;
	}

	&_inputGroup {
		&_input {
			@include font(25px, bold);
			color: $color-dark;
		}

		&_inputAmount {
			@include font(2.5rem, bold);
			color: $color-dark;
			text-align: right;
		}
	}

	&_btnGroup {
		height: $button-height;
		position: absolute;
		bottom: 0;
		width: 100%;
		display: grid;
		grid-template-columns: 0.65fr 0.35fr;
		column-gap: 10px;
	}

	&_btnClear {
		@include font(1rem, normal);
		width: 100%;
		color: $color-red;
		border: 2px solid $color-red;
		background-color: transparent;
	}

	&_btnDiscount {
		width: 100%;

		&__remove {
			width: 100%;
			color: white;
			background-color: $color-red;
			border-bottom: 4px solid #ab363d;
		}
	}
}

.WeightProductSelection {
	flex: 1;
	display: flex;
	flex-direction: column;

	&_inputWeight {
		@include font(2.5rem, bold);
		color: $color-dark;
	}

	&_tabs {
		flex: 1;
	}

	&_btnInputTextcode {
		height: $button-height;
	}
}

.WeightTextcodeModal {
	&_textcodeNumbers {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(5, auto);
		column-gap: 10px;
		row-gap: 10px;

		&_input {
			@include font(2.5rem, bold);
			color: $color-dark;
			text-align: center;
			grid-column: 1 / span 3;
		}

		&_num {
			font-size: 2rem;
			height: 80px;

			&0 {
				grid-column: 1 / span 2;
			}
		}
	}

	&_btnGroup {
		margin: 30px 0 0 0;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 20px;
	}
}
