@use 'assets/styles' as *;

.WeightDrawer {
	height: 100%;

	&_container {
		height: inherit;
		display: flex;
		flex-direction: column;
	}

	.ant-spin-container {
		height: inherit;
	}
}

.WeightProductDetails {
	&_wrapper {
		width: 100%;
	}

	&_inputGroup {
		&_input {
			@include font(25px, bold);
			color: $color-dark;
		}

		&_inputAmount {
			@include font(2.5rem, bold);
			color: $color-dark;
			text-align: right;
		}
	}

	&_btnGroup {
		height: $button-height;
		position: absolute;
		bottom: 0;
		width: 100%;
		display: grid;
		grid-template-columns: 0.65fr 0.35fr;
		column-gap: 10px;
	}

	&_btnClear {
		@include font(1rem, normal);
		width: 100%;
		color: $color-red;
		border: 2px solid $color-red;
		background-color: transparent;
	}

	&_btnDiscount {
		width: 100%;

		&__remove {
			width: 100%;
			color: white;
			background-color: $color-red;
			border-bottom: 4px solid #ab363d;
		}
	}
}

.WeightProductSelection {
	flex: 1;
	display: flex;
	flex-direction: column;

	&_inputWeight {
		@include font(2.5rem, bold);
		color: $color-dark;
	}

	&_tabs {
		flex: 1;
	}

	&_btnWrapper {
		display: grid;
		grid-template-columns: 0.7fr 0.3fr;
		column-gap: 1em;
	}

	&_btnInputTextcode {
		height: $button-height;
	}

	&_btnInputAmount {
		height: $button-height;
	}

	&_productUpdateInfo {
		margin-bottom: 10px;

		@include font(0.9rem, normal);
		color: $color-secondary;
		text-align: center;
	}
}
