@import '../../../../assets/styles/main';

@mixin redButton() {
	color: white;
	background-color: $color-red;
	border-bottom: 4px solid #ab363d;
}

.Buttons {
	display: grid;
	column-gap: 10px;
	row-gap: 10px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, $button-height);

	&_btnRecalibrate {
		@include redButton();
	}

	&_btnTempCheckout {
		grid-column: 1 / span 2;
	}

	&_btnCheckout {
		grid-column: 3 / span 2;
	}

	&_btnRemoveDiscount {
		@include redButton();
		grid-column: 2 / span 2;
		grid-row: 1;
	}
}
