@use 'assets/styles' as *;

.Buttons {
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, $button-height);

	&_btnTempCheckout {
		grid-column: 1 / span 2;
	}

	&_btnCheckout {
		grid-column: 3 / span 2;
	}

	&_btnRemoveDiscount {
		grid-column: 2 / span 2;
		grid-row: 1;
	}
}
