@import '../../assets/styles/main';

.Main {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	column-gap: 20px;
	background-color: $color-background;

	&_left {
		display: flex;
		flex-direction: column;
	}
}

.Footer {
	@include flex(center, center);
	margin-top: 20px;

	&_setUrl {
		position: absolute;
		left: 15px;
		color: $color-dark-gray;
		margin-bottom: 0;
	}

	&_storeTitle {
		font-size: 30px;
		font-weight: bold;
		text-align: center;
		color: $color-dark-gray;
		margin-bottom: 0;
	}
}
