@import '../../assets/styles/main';

.Container {
	width: 100%;
	min-height: 100vh;
	height: 100%;
	padding: 15px;

	@include flex(center, center);

	.ant-spin-container {
		width: inherit;
		height: inherit;
	}
}
