@use 'assets/styles' as *;
@import '~antd/dist/antd.variable.min.css';

@font-face {
	font-family: 'Roboto';
	font-weight: 300;
	src:
		local('Roboto'),
		url(assets/fonts/Roboto-Light.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	src:
		local('Roboto'),
		url(assets/fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 500;
	src:
		local('Roboto'),
		url(assets/fonts/Roboto-Medium.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 600;
	src:
		local('Roboto'),
		url(assets/fonts/Roboto-Medium.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 700;
	src:
		local('Roboto'),
		url(assets/fonts/Roboto-Bold.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 900;
	src:
		local('Roboto'),
		url(assets/fonts/Roboto-Black.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 300;
	font-style: italic;
	src:
		local('Roboto'),
		url(assets/fonts/Roboto-LightItalic.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	font-style: italic;
	src:
		local('Roboto'),
		url(assets/fonts/Roboto-Italic.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 500;
	font-style: italic;
	src:
		local('Roboto'),
		url(assets/fonts/Roboto-MediumItalic.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 600;
	font-style: italic;
	src:
		local('Roboto'),
		url(assets/fonts/Roboto-MediumItalic.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 700;
	font-style: italic;
	src:
		local('Roboto'),
		url(assets/fonts/Roboto-BoldItalic.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 900;
	font-style: italic;
	src:
		local('Roboto'),
		url(assets/fonts/Roboto-BlackItalic.ttf) format('truetype');
}

/********************
*    HTML, BODY
*********************/

html,
body {
	overflow-x: hidden;
	font-size: 13px;
}

body {
	background-color: white;
	font-family: 'Roboto';
	color: $color-dark;
}

#root {
	width: 100%;
	height: 100%;
}

/********************
*      MODAL
*********************/
.ant-modal-root {
	.ant-modal {
		margin-top: 25px;
	}

	.ant-modal-header {
		.ant-modal-title {
			font-size: 1.5rem;
			font-weight: bold;
		}
	}

	.ant-modal.modal-large {
		width: 100% !important;
		min-width: 350px !important;
		max-width: 1100px !important;

		.ant-modal-content {
			margin: 25px;
			border-radius: 10px;
			max-height: 85vh;
			overflow: hidden;

			.ant-modal-body {
				overflow-y: auto;
				max-height: 70vh;
			}
		}
	}
}

.ant-modal {
	.custom-footer {
		margin-top: 25px;
		display: flex;
		align-items: center !important;
		justify-content: center !important;

		.btn-cancel {
			margin-right: 20px;
		}
	}
}

.EJJYModal {
	.ant-modal-confirm-title {
		font-weight: bold;
		font-size: 20px !important;
	}

	.ant-modal-confirm-content {
		font-size: 16px !important;
	}

	.ant-modal-confirm-btns {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		.ant-btn {
			flex: 1;
			height: 60px !important;
			font-size: 25px !important;
		}
	}
}

/********************
*      SPINNER
*********************/
.ant-spin-container {
	width: inherit;
	height: inherit;
}

.ant-spin-nested-loading {
	height: 100%;
}

/********************
*      MESSAGE
*********************/
.ant-message {
	.ant-message-custom-content {
		span {
			font-size: 20px;
		}
	}
}

/********************
*     TOOLTIP
*********************/
.ButtonTooltip {
	.ant-tooltip-inner {
		text-align: center;
	}
}
